.article-container {
  background-color: grey;
  width: 60%;
  margin-left: 20%;
  padding: 6px;
}

.search-form {
  text-align: center;
  
}
.search-form>input{
  width: 90%;
}

.article {
  background-color: white;
  list-style: none;
  margin-left: 0px;
  width: 90%;
  height: 25px;
  border-radius: 5px;
  text-align: center;
}